<%- include('header') -%>

    <hr>

    <h3><%= article.name %></h3>
    <h3><%= (article.price).toFixed(2).replace(/[.]/, ',') %> €</h3>
    <img src="/images/products/<%= article.image %>" alt="imagen de <%= article.name %> " width="30%">
    <p>Detalles: <%= article.description %></p>
    <p>Estado: <%= article.new ? 'Nuevo' : 'Usado' %>  </p>
    <p><%= __n('Tag', article.tags.length) %>: <%= article.tags.map(item => item).join(', ') %></p>
    <hr>

    <a href="/products"><%= __('< Back to product list') %></a>

<%- include('footer') -%>
